.carousel-section {
  margin-top: 44px;
}

.carousel-container {
  position: relative;
}

.carousel-container::after {
  display: none;
  position: absolute;
  pointer-events: none;
  content: '';
  width: 239px;
  height: 488px;
  bottom: 0;
  right: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.94) 0%, rgba(0, 0, 0, 0) 89.96%);
  background-attachment: local, local, scroll, scroll;
}

.carousel-container.overflow-right::after {
  display: block;
}

.carousel-container::before {
  z-index: 1;
  display: none;
  position: absolute;
  pointer-events: none;
  content: '';
  width: 239px;
  height: 488px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.94) 0%, rgba(0, 0, 0, 0) 89.96%);
}

.carousel-container.overflow-left::before {
  display: block;
}


.carousel-header {
  font-family: Helvetica;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-left: 36px;
}

.carousel-club {
  font-family: Helvetica;
  color: #D6D6D6;
  font-style: normal;
  font-size: 11px;
  letter-spacing: .5px;
  padding-left: 36px;
  margin-top: 3px;
  text-transform: uppercase;
}

.carousel-club a{
  padding:0;
  color: #D6D6D6;
}

.carousel-cards-container {
  display: flex;
  position: relative;
  align-items: center;
  height: 488px;
  overflow-x: scroll;
}


.buttons {
    margin: 10%;
    text-align: center;
}


.btn-hover {
    font-family: Helvetica;
    width: 103px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 20px;
    padding: 10px 7px 10px 7px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    float: right;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #505050, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}



/* Mobile CSS rules here*/
@media only screen and (hover: none) and (pointer: coarse) {
  .carousel-header {
    padding-left: 24px;
    line-height: 25px;
  }

  .carousel-container {
    margin: 0px 13px;
  }

  .carousel-club {
    margin-top: 2px;
  }


  .carousel-container::after {
    width: 180px;
  }
  .carousel-container::before {
    width: 180px;

  }
}
