*{box-sizing: border-box;}

html,
body {
  margin: 0 auto;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  font-family: monospace;
  justify-content: center;
}


.heady{
    position: relative;
    margin: 0px 32px 15px 32px;
    width: 200px;  
}

.wip{
  text-align: center;
  margin: 0;
}

.signup {
  text-align: right;
}

a.signup {
  text-decoration: underline;
}

/*BLUE*/
  .b-blue, .b-blue:before {
    background: rgba(0,0,0,0);
    /*background: -moz-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,118,255,1)), color-stop(100%, rgba(36,248,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );*/
  }


.button2 {
  display: inline-block;
  font-size: 1em;
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 2em;
  padding: .5em;
  border-radius: 7px;
  transition: all .5s;
  filter: hue-rotate(0deg);
  color: #FFF;
  text-decoration: none;
}

.rot-135:hover {
    background: #fff;
    background: -moz-linear-gradient(45deg, rgba(93,190,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(93,190,255,1)), color-stop(100%, rgba(36,248,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(93,190,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(93,190,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(93,190,255,1) 0%, rgba(36,248,255,1) 100%);
    background: linear-gradient(45deg, rgba(93,190,255,1) 0%, rgba(36,248,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );
    filter: hue-rotate(135deg);
}
